<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-12 col-md-6 main_header_right align-items-center">
                        <figure>
                            <img src="./img/profile.jpg" class="img-fluid" width="400">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-12 col-md-6 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text-clr">Full Stack developer</span> and designer</h1>
                        <a href="https://github.com/Sanchitbajaj02" target="_blank"><button>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

   {{>footer}}
</body>

</html>